<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>3nigm3s</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</head>
<body>

<br/><br/><br/><br/>
<div class="container">

  <h2><span  th:text="${felicitations}"></span></h2>
  <img id="imageresource" th:src="@{/resources/static/indice1.png}" />
     
</div>



</body>
</html>